################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/__vm
/Release
/Debug
.vs/spBox/v14/.suo
/spBox.ino~RF2ca7e677.TMP
*.TMP
