################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/__vm
/Release
/Debug
.vs/spBox/v14/.suo
.vs/spBox/v15/.suo
/spBox.ino~RF2ca7e677.TMP
*.TMP
/.vs/Supercharger
/.vs/Supercharger/adafruitio_16_servo/workbench.dat
/.vs/Supercharger/adafruitio_16_servo/rich_code_format.dat
/.vs/Supercharger/adafruitio_16_servo/global_history.dat
/.vs/Supercharger/adafruitio_16_servo/code_marker.dat
/.vs/Supercharger/adafruitio_16_servo/codemap.dat
/.vs/Supercharger/adafruitio_16_servo
/.vs/Supercharger/adafruitio_09_analog_out/workbench.dat
/.vs/Supercharger/adafruitio_09_analog_out/rich_code_format.dat
/.vs/Supercharger/adafruitio_09_analog_out/global_history.dat
/.vs/Supercharger/adafruitio_09_analog_out/code_marker.dat
/.vs/Supercharger/adafruitio_09_analog_out/codemap.dat
/.vs/Supercharger/adafruitio_09_analog_out
/.vs/Supercharger/adafruitio_00_publish/workbench.dat
/.vs/Supercharger/adafruitio_00_publish/rich_code_format.dat
/.vs/Supercharger/adafruitio_00_publish/global_history.dat
/.vs/Supercharger/adafruitio_00_publish/code_marker.dat
/.vs/Supercharger/adafruitio_00_publish/codemap.dat
/.vs/Supercharger/adafruitio_00_publish
/.vs/Supercharger
*.suo
/examples/rotenc/Release
/examples/rotenc/__vm
/examples/rotenc/Release
/.vs
/examples/button_rotenc_example/Release
/examples/button_rotenc_example/__vm
/examples/button_rotenc_example/ClassDiagram.cd
/examples/button_rotenc_example/Debug
/examples/sensor_display_example/__vm
/examples/sensor_display_example/Release
/examples/sensor_display_example/Debug
/credentials.inc
/examples/com_conf_example/Release
/examples/com_conf_example/__vm
/examples/com_conf_example/Debug
/examples/ntpclientlib_example/__vm
/examples/button_rotenc/__vm
/examples/button_rotenc/Debug
/examples/button_rotenc/Release
/examples/sensor_display/__vm
/examples/sensor_display/Release
/examples/com_conf/__vm
/examples/com_conf/credentials.h
/examples/com_conf/Release
/spBox/__vm
/spBox/credentials.h
/examples/com_conf/Debug
/examples/sensor_display/Debug
/spBox/Debug
/spBox/Release
*.filters
*.vcxproj.user
~*.xlsx
